<!DOCTYPE HTML>
<html lang="en">
    <!-- Copyright (c) 2015 SAP AG, All Rights Reserved -->
    <head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{appTitle}}</title>

        <!-- Bootstrap the unified shell in sandbox mode for standalone usage.

		 The renderer is specified in the global Unified Shell configuration object "sap-ushell-config".

		 The fiori2 renderer will render the shell header allowing, for instance,
		 testing of additional application setting buttons.

		 The navigation target resolution service is configured in a way that the empty URL hash is
		 resolved to our own application.

		 This example uses relative path references for the SAPUI5 resources and test-resources;
		 it might be necessary to adapt them depending on the target runtime platform.
		 The sandbox platform is restricted to development or demo use cases and must NOT be used
		 for productive scenarios.
	-->
        <script type="text/javascript">
		window["sap-ushell-config"] = {
			defaultRenderer: "fiori2",
                bootstrapPlugins: {
				"RuntimeAuthoringPlugin": {
					component: "sap.ushell.plugins.rta",
                        config: {
                            validateAppVersion: false
                        }
                    }
                },
                renderers: {
                    fiori2: {
                        componentData: {
                            config: {
							search: "hidden"
                            }
                        }
                    }
                },
                applications: {
				"app-tile": {
					title: "Shop change Master",
					description: "",
					additionalInformation: "SAPUI5.Component=nw.epm.refapps.shop",
					applicationType: "URL",
					url: "../"
                    }
                }
            };
        </script>

        <script src="../test-resources/sap/ushell/bootstrap/sandbox.js" id="sap-ushell-bootstrap"></script>

        <!-- Bootstrap the UI5 core library -->
        <script
            id="sap-ui-bootstrap"
            src="../resources/sap-ui-core.js"
            data-sap-ui-libs="sap.f, sap.m, sap.ui.comp, sap.ui.core, sap.ui.generic.app, sap.ui.table, sap.ushell, sap.ui.fl, sap.ui.layout, sap.uxap"
            data-sap-ui-async="true"
            data-sap-ui-preload="async"
            data-sap-ui-theme="sap_fiori_3"
            data-sap-ui-compatVersion="edge"
            data-sap-ui-language="en"
            data-sap-ui-resourceroots='{"nw.epm.refapps.shop": "../"}'
            data-sap-ui-frameOptions="allow"
        >
            // NON-SECURE setting for testing environment
        </script>
		<script id="locate-reuse-libs" src="../utils/locate-reuse-libs.js"
				data-sap-ui-manifest-uri="../manifest.json">
		</script>
    </head>

    <!-- UI Content -->

    <body class="sapUiBody" id="content"></body>
</html>
